{% extends "base.html" %}

{% block content %}

<!-- Begin page content -->
<section class="container-fluid mt-1 p-5 text-white h-100 bg-dark">

<h1 class="mt-3">Welcome to Gullee!</h1>

<p class="lead">You can leave your feedbacks or nice messages to your professors here! <br> You can find your teacher here bellow, or try to search for them.</p>

</section>
<main role="main" class="container">
  <form class="form-inline ">
    <input class="form-control form-control-lg mr-sm-2 " type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>

<section class="container-fluid mt-1 p-5 text-white">
  <div class="card-group">
    {% for professor in professors %}

      <div class="col-lg-4 col-md-6 col-12 ">
          <div class="card text-white bg-dark" style="max-width: 18rem;">
              <div class="card-body">
                  <h3 class="card-title"> {{professor.username}} </h3>
                  <hr class="m-2">
                  <p class="card-text">
                    {{professor.first_name}} {{professor.last_name}}
                  </p>
                <a class="btn btn-success" href="{% url 'send-message' professor.id %}" >Send Message</a>
              </div>
          </div>
        </div>
        {% endfor %}
      </div>
</section>


</main>


{% endblock %}
