{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock title %}

{% block content %}

<header class="masthead text-center text-white  mt-5">
  <div class="masthead-content">
    <div class="container">
        <div class="jumbotron  mt-5" style="background-color: black;">
          <h2 class="masthead-subheading mb-0">Update Profile</h2>
          <form action="{% url 'updateprofile' %}" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <input class = "btn btn-success" type="submit" value="Login">
          </form>
      </div>
    </div>
  </div>

</header>
{% endblock %}
